@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #1f2d3d;
  --card: #ffffff;
  --card-foreground: #1f2d3d;
  --popover: #ffffff;
  --popover-foreground: #1f2d3d;
  --primary: #ec3750;
  --primary-foreground: #ffffff;
  --secondary: #3c4858;
  --secondary-foreground: #ffffff;
  --muted: #8492a6;
  --muted-foreground: #1f2d3d;
  --accent: #338eda;
  --accent-foreground: #ffffff;
  --destructive: #ec3750;
  --border: #e0e6ed;
  --input: #e0e6ed;
  --ring: #338eda;
  --chart-1: #ec3750;
  --chart-2: #ff8c37;
  --chart-3: #f1c40f;
  --chart-4: #33d6a6;
  --chart-5: #338eda;
  --sidebar: #ffffff;
  --sidebar-foreground: #1f2d3d;
  --sidebar-primary: #ec3750;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #338eda;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e0e6ed;
  --sidebar-ring: #338eda;
}

.dark {
  --background: #17171d;
  --foreground: #ffffff;
  --card: #252429;
  --card-foreground: #ffffff;
  --popover: #252429;
  --popover-foreground: #ffffff;
  --primary: #ec3750;
  --primary-foreground: #ffffff;
  --secondary: #8492a6;
  --secondary-foreground: #ffffff;
  --muted: #8492a6;
  --muted-foreground: #ffffff;
  --accent: #5bc0de;
  --accent-foreground: #ffffff;
  --destructive: #ec3750;
  --border: #252429;
  --input: #252429;
  --ring: #5bc0de;
  --chart-1: #ec3750;
  --chart-2: #ff8c37;
  --chart-3: #f1c40f;
  --chart-4: #33d6a6;
  --chart-5: #5bc0de;
  --sidebar: #252429;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ec3750;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #5bc0de;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #252429;
  --sidebar-ring: #5bc0de;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    transition: background-color 0.3s ease, color 0.3s ease; /* smooth transition */
  }
}

/* Font */
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Phantom Sans', Arial, Helvetica, sans-serif;
}